@import "fonts.css";


/* ROOT start */
:root {
    --green: #69cf17;
    --green_75: rgba(106, 207, 23, 0.75);
    --green_90: rgba(106, 207, 23, 0.9);
    --grey: #dedede;
    --logo_bg: #4e9f0d;
    --logo_bd: #62be19;
    --white: #fff;
    --dark_15: rgba(30, 30, 30, 0.15);
    --dark: #060002;
    --grey_menu: #7a7a7a;
    --grey_bd: #4b4b4b;

    --fontBase: "RW";
    --fontAlt: "RB";

    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;

}

* {
    font-family: var(--fontBase);
    color: var(--grey);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-1 {
    width: var(--col-1);
    padding: 0 15px;

}

.col-2 {
    width: var(--col-2);
    padding: 0 15px;

}

.col-3 {
    width: var(--col-3);
    padding: 0 15px;

}

.col-4 {
    width: var(--col-4);
    padding: 0 15px;

}

.col-5 {
    width: var(--col-5);
    padding: 0 15px;

}

.col-6 {
    width: var(--col-6);
    padding: 0 15px;

}

.col-7 {
    width: var(--col-7);
    padding: 0 15px;

}

.col-9 {
    width: var(--col-9);
    padding: 0 15px;

}

.col-10 {
    width: var(--col-10);
    padding: 0 15px;

}

.col-11 {
    width: var(--col-11);
    padding: 0 15px;

}


.col {
    width: auto;
    padding: 0 15px;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.felx-column {
    flex-direction: column;

}

.flex-grow-1 {
    flex-grow: 1;
}

.d-flex {
    display: flex;
}

.felx-wrap {
    flex-wrap: wrap;
}

.mh-100 {
    min-height: 100vh;
}

/* ROOT end */

/* ============================= */

/* HEADER start */
.header {
    background: url(../img/header-bg.jpg) center center / cover;
    background-attachment: fixed;
}

.logo {
    background: var(--logo_bg);
    border: 3px solid var(--logo_bd);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    padding: 8px 18px 7px 18px;
    line-height: 17px;
    border-radius: 5px;
    box-shadow: inset 5px 5px 5px var(--dark_15);
}

.header-nav__link {
    color: var(--green);
    font-size: 20px;
    font-weight: 300;
    /* margin-top: 41px; */
    padding: 41px 26px 31px 26px;
    display: flex;
    align-items: center;
    /* background: blue; */
    height: 100%;
    transition: 0.5s;

}

.header-nav__count {
    padding: 6px 8px 6px 7px;
    background-color: var(--white);
    line-height: 12px;
    border-radius: 50%;
    color: var(--green);
    margin-left: 6px;
}

.header-nav__link_padding {
    padding: 37px 11px 29px 10px;

}

.header-nav__link:hover {
    background: var(--green_75);
    color: var(--white);
}

.header__title {
    font-size: 72px;
    color: var(--green);
    font-weight: 900;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 36px;
    font-weight: 400;
    color: var(--green);
    margin-top: -12px;
    margin-bottom: 25px;
}

.header__info {
    font-size: 18px;
    color: var(--grey);
}

.header__price {
    font-size: 60px;
    color: var(--white);
    background: var(--green_75);
    font-weight: 100;
    width: max-content;
    padding: 7px 91px 21px 90px;
    margin-top: 74px;
}

/* HEADER end */
/* ============================= */
/* MAIN start */
.products {
    background: var(--dark);
    padding-top: 50px;
    padding-bottom: 103px;
}

.menu {
    margin-bottom: 68px;
}

.menu__link {
    font-size: 20px;
    font-weight: 700;
    color: var(--grey_menu);
    margin-right: 48px;
    transition: 0.5s;
}

.menu__link:hover {
    color: var(--green);
}

.card {
    margin-bottom: 50px;
}

.card__item {
    height: 350px;
    width: 100%;
    border: 1px solid var(--grey_bd);
    margin-bottom: 31px;
    position: relative;
}

.card__price {
    background: var(--green_75);
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 187px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: 0.5s;
}

.card__link {
    background: var(--green_90);
    color: var(--white);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition:  0.5s;
    
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 


.card:hover .card__link {
    opacity: 1;
}

.card:hover .card__price {
    opacity: 0;
}

.card__title {
    font-size: 24px;
    color: var(--green);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
    
}

.card__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* MAIN end */
/* ============================= */
/* CONTENT start */
.content {
    background: url(../img/section-bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 102px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: var(--green);
    text-transform: uppercase;
    line-height: 26px;
    text-align: center;
}

.content__title::after {
    content: '';
    display: block;
    margin: 19px auto 48px auto ;
    background: var(--green);
    height: 1px;
    width: 40%;
}

.content__text {
    font-size: 18px;
    color: var(--white);
    line-height: 24px;
    margin-bottom: 24px;
    
}
/* CONTENT end */
/* ============================= */
/* CONTACT start */
.contact {
    padding-top: 50px;
}

.contact__map {
    width: 100%;
    margin-top: 58px;
    height: 500px;
}
/* CONTACT end */
/* ============================= */
/* FOOTER start */
.footer {
    background: var(--dark);
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer__tel {
    color: var(--logo_bg);
    font-weight: 700;
    font-size: 24px;
    font-family: var(--fontAlt);
}

.footer-menu__link i {
    color: var(--white);
    font-size: 24px;
    margin: 0 24px;
    transition: 0.5s;
}

.footer-menu__link i:hover {
    color:  var(--green);
}

.footer-menu {
    margin-top: 44px;
    margin-bottom: 40px;
}

.footer__copyright {
    font-size: 16px;
    font-weight: 100;
    color: var(--white);
    text-align: center;
}

html {
    scroll-behavior:smooth;
}

/* FOOTER end */
/* ============================= */

.window {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.window__model {
    width: 400px;
    height: 400px;
    padding: 20px;
    background: var(--white);
}

.window:target {
    display: flex;
}



















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































