@import "fonts.css";
/* ROOT start */
:root {
    --fontBase: "MS";
    --fontAlt: "PS";

    --yellow: #ffcb02;
    --yellow_dark: #d2a90b;
    --grey: #282929;
    --dark: #1f2020;
    --white: #fff;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: var(--fontBase);
    background: var(--grey);
}

.logo {
    font-family: var(--fontAlt);
    font-size: 26px;
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid;
    border-image: linear-gradient(133deg, var(--white), var(--yellow)) 1;
    padding: 6px 18px;
    line-height: 19px;
}

.logo:hover {
    color: var(--white);
}

.logo__text {
    color: var(--yellow);
}
/* ROOT end */
/* ========================== */
/* HEADER start */
.navbar {
    padding-top: 23px;
    padding-bottom: 23px;
    background: var(--dark);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.menu__link {
    font-family: var(--fontAlt);
    font-size: 20px;
    color: var(--white);
    text-transform: uppercase;
    transition: 0.5s;
    margin-left: 55px;
}

.menu__link:hover {
    color: var(--yellow);
}

.navbar-toggler{
    color: var(--white);
    font-size: 20px;
}

.header__info {
    background: url(../images/header_img_bg.jpg) no-repeat center / cover;
    background-attachment: fixed;
    color: var(--white);
    font-family: var(--fontAlt);
    padding: 25px 0;
    margin-top: 78px;
}

.header__title {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header__description {
    font-size: 22px;
    line-height: 27px;
    text-align: justify;
}
/* HEADER end */
/* ========================== */
/* CONTENT start */
.content__title {
    font-size: 28px;
    color: var(--yellow_dark);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fontAlt);
    margin-bottom: 30px;
    margin-top: 60px;
    line-height: 22px;
}

.content__title::before, .content__title::after {
    content: '';
    background: var(--white);
    width: 52px;
    height: 2px;
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
}

.content__title::after {
    margin: 8px auto 0 0;
}

.content__description {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 55px;    
}
/* CONTENT end */
/* ========================== */
/* SLIDER start */
.slider {
    background: var(--dark);
    padding: 15px 0;
}

.slider__img {
    object-fit: cover;
    border-radius: 6px;
}

.slider__title {
    font-size: 24px;
    color: var(--yellow_dark);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.slider__title_color {
    color: var(--white);
}

.slider__description {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    text-align: justify;
    margin-bottom: 0;
}

.slider__button {
    color: var(--yellow);
    font-size: 40px;
}

.slider__button::after {
    color: var(--white);
}
/* SLIDER end */
/* ========================== */
/* TABS start */
.tabs__link {
    color: var(--dark);
    background: var(--white);
    border-radius: 19px;
    padding: 13px 30px;
    display: flex;
    line-height: 12px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.tabs__link.active, .tabs__link.active:hover {
    background: var(--dark);
    color: var(--white);
}

.tabs__link:hover {
    background: var(--yellow);
    color: var(--white);
}

.tabs__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.tabs__info {
    background: var(--dark);
    border-radius: 6px;
    height: 100%;
    padding: 22px 14px 19px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.tabs__title {
    color: var(--yellow);
    font-size: 24px;
    font-family: var(--fontAlt);
}

.tabs__description {
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.tabs__button {
    border-radius: 22px;
    background: var(--yellow_dark);
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    padding: 15px 29px 14px 31px;
    line-height: 15px;
    text-transform: uppercase;
}

.tabs__button:hover {
    background: var(--yellow);
    color: var(--white);
}

.tab-content {
    margin-top: 30px;
}

.tabs__title_upper {
    text-transform: uppercase;
}
/* TABS end */
/* ========================== */
/* ACCORDION start */
.accordion__button {
    background: var(--yellow_dark);
    color: var(--grey);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 15px;
    border: none;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.accordion_icon {
    font-size: 28px;
    margin-right: 10px;
}

.accordion__discription {
    border: 1px solid var(--yellow_dark);
    background: var(--dark);
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    padding: 19px 17px;
}

.accordion__button.collapsed {
    background: var(--dark);
    color: var(--white);
}

.accordion__button:focus {
    outline: none;
}

.accordion__item {
    margin-bottom: 16px;
}
/* ACCORDION end */
/* ========================== */
/* FOOTER start */
.footer {
    background: var(--dark);
    margin-top: 14px;
    padding: 20px 0;
}

.menu {
    list-style: none;
    margin-bottom: 0;
}

.menu__link_margin {
    margin: 44px 27px 0 27px;
    display: block;
    line-height: 15px;
}
/* FOOTER end */
/* ========================== */
